@font-face {
  font-family: logo-font;
  src: url(../fonts/Norse-Bold.otf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --hero-height: 100vh;
  --hero-width: 40vw;
  --logo-height: 16vh;
  --logo-width: 19vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.hero {
  background-image: url("../img/plant.jpg");
  background-size: cover;
  height: var(--hero-height);
  width: var(--hero-width);
  min-width: var(--hero-width);
  color: #ffffff;
}

.hero-logo {
  height: var(--logo-height);
  width: var(--logo-width);
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 24vh;
  padding: calc(var(--hero-height)/2 - 49vh) calc(var(--hero-width)/2 - 9.5vw);
  font-family: logo-font;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-logo img {
  height: var(--logo-height);
}

.hero-credits {
  text-align: center;
  position: relative;
  bottom: -77vh;
}

.hero-credits a {
  color: #ffffff;
}

.form {
  height: 100vh;
  color:#292929;
  background-color: #f7f7f7;
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > * {
  padding: 0 22.5vw 0 2.5vw;
}

.form p + p + p {
  margin: 3vh 0 0 0;
} 

#sign-up {
  background-color: #ffffff;
  box-shadow: 0 .5vh .2em #d3d3d3;
  margin: 10vh 0 5vh 0;
  padding-bottom: 3vh;
}

.form-area {
  display: flex;
  flex-wrap: wrap;
}

.input {
  margin: 1vh 0;
  color: #555555;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

legend {
  margin: 2vh 0 1vh 0;
  color: #404040;
}

input {
  border: .02rem solid #e3e3e3;
  border-radius: .25rem;
  width: 14vw;
  height: 2.25vh;
  margin: 1vh 3vw 0 0;
}


i {
  font-style: italic;
}

#submit {
  border: .02rem none;
  border-radius: .5rem;
  background-color:#4f613f;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  height: 5vh;
  width: 14vw;
  margin: 0 0 0 2.5vw; 
  padding: 0 0 0 0;
}

p:last-child {
  margin-top: 2.5vh;
  font-size: 1.25rem;
}

.form a {
  text-decoration: none;
  color: #4f613f;
}